MONGO_DB_ROOT_USER=root
MONGO_DB_ROOT_PASS=root
MONGO_DB_METADATA_SERVER_USER=metadata_server
MONGO_DB_METADATA_SERVER_PASSWORD=metadata_server
MONGO_DB_METADATA_DB_NAME=row_metadata

MONGO_EXPRESS_USERNAME=mongo_express
MONGO_EXPRESS_PASSWORD=mongo_express

MYSQL_DB_WORDS_DB_NAME=words

PORT_MONGO_DB_PRIMARY_INTERNAL=27017
PORT_MONGO_DB_PRIMARY=10301
PORT_MONGO_DB_SECONDARY_1_INTERNAL=27017
PORT_MONGO_DB_SECONDARY_1=10302
PORT_MONGO_DB_SECONDARY_2_INTERNAL=27017
PORT_MONGO_DB_SECONDARY_2=10303
PORT_MONGO_EXPRESS_INTERNAL=8081
PORT_MONGO_EXPRESS=10304
PORT_METADATA_SERVER_INTERNAL=8080
PORT_METADATA_SERVER=10305
PORT_KAFKA_BROKER=10306
PORT_SCHEMA_REGISTRY_INTERNAL=8081
PORT_SCHEMA_REGISTRY=10307
PORT_KAFKA_UI_INTERNAL=8080
PORT_KAFKA_UI=10308
PORT_MYSQL_DB_INTERNAL=3306
PORT_MYSQL_DB=10309
PORT_WORDS_SERVER_INTERNAL=8080
PORT_WORDS_SERVER=10310

