[submodule "dataset-generation"]
	path = dataset-generation
	url = https://github.com/project-race-of-words/dataset-generation
[submodule "metadata-server"]
	path = metadata-server
	url = https://github.com/project-race-of-words/metadata-server
[submodule "words-server"]
	path = words-server
	url = https://github.com/project-race-of-words/words-server
